name: Deploy Supabase Functions

on:
  push:
    branches:
      - main
    paths:
      - 'adult_series_app/supabase/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: supabase functions deploy adult-series-api --project-ref $SUPABASE_PROJECT_ID --workdir adult_series_app
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
          SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}
